{% if backlinks.length > 0 %}
  <nav class="max-w-lg xl:max-w-xs">
    <h3 class="font-semibold text-xl mb-4 xl:text-2xl">Backlinks</h3>
    <ul class="space-y-1">
      {% for link in backlinks %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
