<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/assets/rajdhani.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/prism-coldark-dark.css' | url }}">

    <title>
      {% if title %}
        {{ title }} | bikeshed.coffee
      {% else %}
        bikeshed.coffee
      {% endif %}
    </title>
  </head>
  <body class="h-full antialiased">
    <div class="xl:mx-72 mx-8">
      <h1 class="mt-4 text-2xl font-semibold text-purple-800 xl:mt-8">
        <a href="/">bikeshed.coffee</a>
      </h1>

      {{ content | safe }}
    </div>
  </body>
</html>
