---
title: bikeshed.coffee
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ "/assets/reset.css" | url }}">
    <style>
      body {
        font: 16px/1.4 system-ui,Helvetica,sans-serif;
        background: #18181b;
        color: #e5e7eb;
      }
      a {
        color: #dc2626;
        text-decoration: none;
      }

      a:hover {
        color: #ef4444;
      }

      h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        margin: 1em 0 0.5em 0;
      }

      ul {
        margin: 0 0 1rem 0;
      }

      p {
        margin: 0 0 1rem 0;
      }
      pre {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div style="display: flex; justify-content: center;">
      <div style="width: 600px;">
        <div style="display: flex; flex-direction: column;">
          <div style="margin: 0.5em 0 1em 0;">
            <a href="/"><strong>bikeshed.coffee</strong></a>
          </div>
          <main>
            {{ content }}
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
