---
import Root from "src/layouts/Root.astro";
---

<Root title="makeshift.computer">
  <div class="mt-8 flex flex-col items-center px-4">
    <div class="prose w-full max-w-prose prose-zinc dark:prose-invert">
      <p>
        I'm Alex, an entrepreneur and software person based in New York City. Most recently I was the technical
        cofounder at <a href="https://www.withparallax.com/" target="_blank" rel="noopener noreferrer">parallax</a>, and
        before that I built all sorts of software professionally and otherwise.
      </p>

      <h3>contact</h3>
      <p>
        I want to meet interesting people and nerd out about stuff. The best way to get in touch is email: hi @ this
        domain. I'm also on the
        <a href="https://twitter.com/waffledotexe" target="_blank" rel="noopener noreferrer">tweeters</a>,
        <a href="https://www.linkedin.com/in/khxela/" target="_blank" rel="noopener noreferrer">linkedin</a>,
        <a href="https://github.com/alexkuang" target="_blank" rel="noopener noreferrer">github</a>
      </p>
    </div>
  </div>
</Root>
