---
import Root from "src/layouts/Root.astro";
import { getPosts } from "src/util";
import { render } from "astro:content";

const posts = await Promise.all(
  (await getPosts()).map(async (p) => ({
    ...p,
    content: await render(p),
    excerptContent: p.data.excerpt && (await render(p.data.excerpt as any)),
  })),
);
---

<Root title="makeshift.computer">
  <div class="mt-8 flex flex-col items-center space-y-16 px-4 pb-8">
    {
      posts.map((post) => (
        <article class="prose w-full prose-zinc dark:prose-invert prose-img:mx-auto prose-img:my-auto">
          {post.data.title && (
            <h3>
              <a href={`/posts/${post.id}/`} class="font-semibold no-underline">
                {post.data.title}
              </a>
            </h3>
          )}

          {post.excerptContent ? (
            <>
              <post.excerptContent.Content />
              <p>
                [...{" "}
                <a href={`/posts/${post.id}/`} class="font-normal no-underline">
                  more
                </a>
                ]
              </p>
            </>
          ) : (
            <post.content.Content />
          )}

          <div class="text-sm">
            {post.publishedAt.toLocaleString("en-US", { dateStyle: "medium", timeStyle: "short" })}
          </div>
        </article>
      ))
    }
  </div>
</Root>
