---
import Root from "src/layouts/Root.astro";
import { getPosts } from "src/util";
import { getExcerpt } from "src/excerpt";
import { render } from "astro:content";

const defaultExcerptLimit = 500;

const posts = await Promise.all(
  (await getPosts()).map(async (p) => ({
    ...p,
    content: await render(p),
    excerptLimit: p.data.excerptLimit || defaultExcerptLimit,
  })),
);
---

<Root title="bikeshed.coffee">
  <div class="mt-8 flex flex-col items-center space-y-16 pb-8 px-4">
    {
      posts.map((post) => (
        <article class="prose w-full prose-neutral dark:prose-invert prose-img:mx-auto prose-img:my-auto">
          {post.data.title && (
            <h3>
              <a href={`/posts/${post.id}/`} class="text-violet-800 dark:text-violet-200 no-underline font-semibold">
                {post.data.title}
              </a>
            </h3>
          )}

          {post.body?.length > post.excerptLimit ? (
            <Fragment set:html={getExcerpt(post, post.excerptLimit)} />
            <p>
              [... <a href={`/posts/${post.id}/`} class="text-violet-800 dark:text-violet-200 no-underline font-normal">more</a>]
            </p>
          ) : (
            <post.content.Content />
          )}

          <div class="text-sm text-gray-600 dark:text-gray-400">
            {post.publishedAt.toLocaleString("en-US", { dateStyle: "medium", timeStyle: "short" })}
          </div>
        </article>
      ))
    }
  </div>
</Root>
