@font-face {
  font-family: 'Rajdhani';
  src: url(fonts/Rajdhani-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Rajdhani';
  src: url(fonts/Rajdhani-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Rajdhani';
  src: url(fonts/Rajdhani-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Rajdhani';
  src: url(fonts/Rajdhani-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Rajdhani';
  src: url(fonts/Rajdhani-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
